body{
    background:linear-gradient(black, rgb(88, 86, 86));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:10px;
}


h1,h2{
    color:rgb(255, 255, 255);
    font-family:sans-serif;
}
 
p1{
    color:white;
    margin-top: 5px;
    font-family: sans-serif;
}

p2{
    color: white;
    font-style: italic;
}
.navigation,.container{
    background-color: rgb(0, 0, 0);
    width: 600px;
}

.navigation{
    font-family: sans-serif;
    font-size: 14px;
    display:flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#size-title{
    color:white;
}

#pen{
    color:white;
}

.size{ /*size box*/
    width: 37px;
    border-color: rgb(255, 255, 255);
}


.brush-size{
    width:35px;
}
.container{
    --cursor: url("Pencil.cur"),default;
    --size: 16;
    --line: 1px;
    --background : rgb(255, 255, 255);
    background-color: var(--background);
    cursor: var(--cursor);
    height:500px;
    display: grid;
    grid-template-columns:repeat(var(--size),1fr);
    grid-template-rows:repeat(var(--size),1fr);
    gap: var(--line);
    padding:3px;

}
#pixel-div{
    --width: 1px;
    --height: 1px;
    width: var(--width);
    height: var(--height);
}

.pixel{
    --background: rgb(255, 255, 255);
    background-color: var(--background);
} 

.pixel:hover{
    background-color: rgba(122, 122, 224, 0.159);
}

#save{
    margin-top: 5px;
    margin-left: 420px;
}

.grid{ 
/*  grid button */
    background-color: white; 
}

#panel{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(8,1fr);
    margin-left: 620px;
    gap:5px;
    margin-top:-530px;
}

#col{
    width: 70px;
    height: 20px;
    border-radius: 1px;
    margin-top: -30px;
    margin-bottom: -30px;
}

#empty{
    width: 30px;
    height: 20px;
}

.col1{
    --color: #FFFFFF;
    background-color: var(--color);
}

.col2{
    --color: #000000;
    background-color: var(--color);
}
.col3{
    --color: #d41010;
    background-color: var(--color);
}
.col4{
    --color: #2112ab;
    background-color: var(--color);
}
.col5{
    --color:#e1e811;
    background-color: var(--color);
}
.col6{
    --color:#04ba32;
    background-color: var(--color);
}
.col7{
    --color:#e7740f;
    background-color: var(--color);
}
.col8{
    --color:#b511e2;
    background-color: var(--color);
}

.col9{
    --color:#ea2f90;
    background-color: var(--color);
}
